In [2]:
import pandas as pd
import numpy as np

In [1]:
from simpletransformers.classification import ClassificationModel, ClassificationArgs
import logging

In [8]:
# Read CVS file
df = pd.read_csv('wiki_movie_plots_deduped.csv')

In [11]:
df.shape

(34886, 8)

In [4]:
df.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [12]:
df.tail()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
34881,2014,The Water Diviner,Turkish,Director: Russell Crowe,Director: Russell Crowe\r\nCast: Russell Crowe...,unknown,https://en.wikipedia.org/wiki/The_Water_Diviner,"The film begins in 1919, just after World War ..."
34882,2017,Çalgı Çengi İkimiz,Turkish,Selçuk Aydemir,"Ahmet Kural, Murat Cemcir",comedy,https://en.wikipedia.org/wiki/%C3%87alg%C4%B1_...,"Two musicians, Salih and Gürkan, described the..."
34883,2017,Olanlar Oldu,Turkish,Hakan Algül,"Ata Demirer, Tuvana Türkay, Ülkü Duru",comedy,https://en.wikipedia.org/wiki/Olanlar_Oldu,"Zafer, a sailor living with his mother Döndü i..."
34884,2017,Non-Transferable,Turkish,Brendan Bradley,"YouTubers Shanna Malcolm, Shira Lazar, Sara Fl...",romantic comedy,https://en.wikipedia.org/wiki/Non-Transferable...,The film centres around a young woman named Am...
34885,2017,İstanbul Kırmızısı,Turkish,Ferzan Özpetek,"Halit Ergenç, Tuba Büyüküstün, Mehmet Günsür, ...",romantic,https://en.wikipedia.org/wiki/%C4%B0stanbul_K%...,The writer Orhan Şahin returns to İstanbul aft...

In [10]:
df["Genre"].value_counts()

unknown                          6083
drama                            5964
comedy                           4379
horror                           1167
action                           1098
                                 ...
cbc-tv miniseries                   1
bio-drama                           1
national film board docudrama       1
cult drama                          1
horror romantic comedy              1
Name: Genre, Length: 2265, dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34886 entries, 0 to 34885
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Release Year      34886 non-null  int64
 1   Title             34886 non-null  object
 2   Origin/Ethnicity  34886 non-null  object
 3   Director          34886 non-null  object
 4   Cast              33464 non-null  object
 5   Genre             34886 non-null  object
 6   Wiki Page         34886 non-null  object
 7   Plot              34886 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.1+ MB

In [6]:
# drop plot&genre na
df2=df.dropna(subset=['Genre','Plot'])
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34886 entries, 0 to 34885
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Release Year      34886 non-null  int64
 1   Title             34886 non-null  object
 2   Origin/Ethnicity  34886 non-null  object
 3   Director          34886 non-null  object
 4   Cast              33464 non-null  object
 5   Genre             34886 non-null  object
 6   Wiki Page         34886 non-null  object
 7   Plot              34886 non-null  object
dtypes: int64(1), object(7)
memory usage: 2.4+ MB

In [13]:
# only plot & genre
df3 = df2[["Plot","Genre"]]

In [14]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34886 entries, 0 to 34885
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Plot    34886 non-null  object
 1   Genre   34886 non-null  object
dtypes: object(2)
memory usage: 817.6+ KB

In [15]:
# only train comedy, horror, action, thriller, romance
train_genre = ['comedy', 'horror', 'action', 'thriller', 'romance']
indexNames = []
for i in train_genre:
    index = df3[(df3['Genre'] == i)].index.tolist()
    indexNames = indexNames + index
df4 = df3.loc[indexNames]
df4

                                                    Plot    Genre
7      The film is about a family who move to the sub...   comedy
14     Before heading out to a baseball game at a nea...   comedy
15     The plot is that of a black woman going to the...   comedy
18     A young couple decides to elope after being ca...   comedy
29     Hemlock Hoax is a detective who has little res...   comedy
...                                                  ...      ...
33796  Futaba Yoshioka is a 17-year-old high school s...  romance
33837  Sakisaka Nobuyuki is a salaryman. When he was ...  romance
34011  The story is set on the east coast of Sabah. J...  romance
34493  Washington state, US, the present day.[8] Anna...  romance
34816  The film follows the lives of two people who l...  romance

[8533 rows x 2 columns]

In [17]:
df4['Plot'].head(10)

7     The film is about a family who move to the sub...
14    Before heading out to a baseball game at a nea...
15    The plot is that of a black woman going to the...
18    A young couple decides to elope after being ca...
29    Hemlock Hoax is a detective who has little res...
48    Only lasting 15 minutes, it is a light-hearted...
52    Barney Oldfield races a speeding locomotive to...
53    Bob, a typically devoted husband, is told by h...
54    Cohen (Ford Sterling) and his rival Goldberg (...
64    Wealthy Edwin Peter Brewster disowns his son R...
Name: Plot, dtype: object

In [18]:
logging.basicConfig(level=logging.INFO)
transformers_logger = logging.getLogger("transformers")
transformers_logger.setLevel(logging.WARNING)

In [19]:
model_args = ClassificationArgs(num_train_epochs=1)

In [29]:
model = ClassificationModel(
    'bert',
    'bert-base-cased',
    num_labels=3,
    args=model_args,
    use_cuda=False
)

Downloading:   0%|          | 0.00/416M [00:00<?, ?B/s]

Some weights of the model checkpoint at bert-base-cased were not used when initializing BertForSequenceClassification: ['cls.seq_relationship.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-cased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

Downloading:   0%|          | 0.00/29.0 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/208k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/426k [00:00<?, ?B/s]

In [30]:
# only train action, thriller, romance
train_genre = ['action', 'thriller', 'romance']
indexNames = []
for i in train_genre:
    index = df3[(df3['Genre'] == i)].index.tolist()
    indexNames = indexNames + index
df5 = df3.loc[indexNames]
df5

                                                    Plot    Genre
1074   In World War I, American pilots Mal Andrews (C...   action
1258   A conniving young man is brought up on charges...   action
1372   First Mate Woolf Barstow is a corrupt merchant...   action
1505   The "Black Cats", who are part of the Aerial C...   action
1740   A pair of firemen and friends, Tim Bradley and...   action
...                                                  ...      ...
33796  Futaba Yoshioka is a 17-year-old high school s...  romance
33837  Sakisaka Nobuyuki is a salaryman. When he was ...  romance
34011  The story is set on the east coast of Sabah. J...  romance
34493  Washington state, US, the present day.[8] Anna...  romance
34816  The film follows the lives of two people who l...  romance

[2987 rows x 2 columns]

In [48]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df5['Genre'] = labelencoder.fit_transform(df5['Genre'])
df5

                                                    Plot  Genre
1074   In World War I, American pilots Mal Andrews (C...      0
1258   A conniving young man is brought up on charges...      0
1372   First Mate Woolf Barstow is a corrupt merchant...      0
1505   The "Black Cats", who are part of the Aerial C...      0
1740   A pair of firemen and friends, Tim Bradley and...      0
...                                                  ...    ...
33796  Futaba Yoshioka is a 17-year-old high school s...      1
33837  Sakisaka Nobuyuki is a salaryman. When he was ...      1
34011  The story is set on the east coast of Sabah. J...      1
34493  Washington state, US, the present day.[8] Anna...      1
34816  The film follows the lives of two people who l...      1

[2987 rows x 2 columns]

In [52]:
df5["Genre"].value_counts()

0    1098
2     966
1     923
Name: Genre, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split

In [50]:
train_df, test_df = train_test_split(df5, random_state=777, train_size=0.8)
print(train_df)
print(test_df)

                                                    Plot  Genre
10382  A group of Cuban refugees are on a boat sailin...      0
20325  Maurice Castle (Nicol Williamson) is a mid-lev...      2
34816  The film follows the lives of two people who l...      1
27430  Param (Puneeth Rajakumar) son of a heart speci...      1
23532  Silver Hawk riding her motorcycle through Chin...      0
...                                                  ...    ...
19281  US embassy employee Lee Cochrane and his wife ...      2
2579   Hotel mogul's son Ted Hartley simply wants to ...      1
33796  Futaba Yoshioka is a 17-year-old high school s...      1
32138  The film opens with Madhav (Uday Kiran) and Sr...      1
5724   Qualifying to play in the illustrious Rose Bow...      1

[2389 rows x 2 columns]
                                                    Plot  Genre
8805   Wealthy housewife and children's author Cathry...      2
1011   Vallery Grove (Costello) is in love with Don W...      1
21939  While on a routine patrol on United States air...      0
10825  A married cartoonist named C.C. Drood becomes ...      2
19849  Fur trapper Jean La Bête (Oliver Reed) paddles...      0
...                                                  ...    ...
15998  In 1992, in Bogota, Colombia, a drug lord's as...      0
32768  This film is about the family of Kumar (Ajith)...      2
19546  Two days before Christmas, a bogus insurance i...      2
28063  A student of Sacred Heart Medical College is f...      0
31776  The story revolves around a Telugu girl and Ta...      1

[598 rows x 2 columns]

In [51]:
model.train_model(train_df)

C:\Users\lumbe\miniconda3\envs\st\lib\site-packages\simpletransformers\classification\classification_model.py:585: UserWarning: Dataframe headers not specified. Falling back to using column 0 as text and column 1 as labels.
  warnings.warn(
INFO:simpletransformers.classification.classification_utils: Converting to features started. Cache is not used.

  0%|          | 0/2389 [00:00<?, ?it/s]

INFO:simpletransformers.classification.classification_utils: Saving features into cached file cache_dir/cached_train_bert_128_3_2
C:\Users\lumbe\miniconda3\envs\st\lib\site-packages\transformers\optimization.py:306: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use thePyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(

Epoch:   0%|          | 0/1 [00:00<?, ?it/s]

Running Epoch 0 of 1:   0%|          | 0/299 [00:00<?, ?it/s]

INFO:simpletransformers.classification.classification_model: Training of bert model complete. Saved to outputs/.

(299, 0.8443797004462086)

In [53]:
result, model_outputs, wrong_predictions = model.eval_model(test_df)

C:\Users\lumbe\miniconda3\envs\st\lib\site-packages\simpletransformers\classification\classification_model.py:1426: UserWarning: Dataframe headers not specified. Falling back to using column 0 as text and column 1 as labels.
  warnings.warn(
INFO:simpletransformers.classification.classification_utils: Converting to features started. Cache is not used.

  0%|          | 0/598 [00:00<?, ?it/s]

INFO:simpletransformers.classification.classification_utils: Saving features into cached file cache_dir/cached_dev_bert_128_3_2

Running Evaluation:   0%|          | 0/75 [00:00<?, ?it/s]

INFO:simpletransformers.classification.classification_model:{'mcc': 0.5954163903380186, 'eval_loss': 0.6530095386505127}

In [54]:
result

{'mcc': 0.5954163903380186, 'eval_loss': 0.6530095386505127}

In [63]:
wrong_predictions[3]

{'guid': 10, 'text_a': "Viraj is an adopted kid, adopted at a young age. He falls in love with Geetha, daughter of Viraj's father's friend. Viraj's father invites Geetha's family for his wedding anniversary and proposes his son's marriage with her. But Geetha's father rejects the proposal since Viraj is an adopted kid. Viraj's father gets a heart attack and gets admitted to the hospital. After he becomes conscious, he tells Viraj that he is not an orphan and has a family with his mother and grandfather still being alive. Viraj then embarks on a journey in search of his mother, to the heartless kingdom of his grandfather. How Viraj reunites with his mother and grandfather forms the rest of the story.", 'text_b': None, 'label': 0}

In [64]:
model_outputs[3]

array([-0.53338242, -0.52331853,  1.83048153])

In [60]:
1-(len(wrong_predictions)/len(test_df))

0.7307692307692308

598